<%= form_for(@album) do |f| %>
  <%= render 'shared/error_messages', :target => @album %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :released_at %><br />
    <%= f.datetime_select :released_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
